/* regole generali */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: "Archivo Black", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.container{
    margin: 10%;
    margin-top: 2%;
}
/* header */
h1{
    color: red;
    text-align: center;
}

header p {
    margin-top: 3%;
}

/* main */

main{
    margin-top: 50px;
}

.main::after{
    content: "";
    display: table ;
    clear: both;
}

.label{
    float:left;
    background-color: black;
    color: white;
    width: calc((100% / 3) - 20px);
    box-shadow:5px  5px 5px #bdb9b9,
              -5px -5px 5px #bdb9b9,
               5px -5px 5px #bdb9b9,
              -5px  5px 5px #bdb9b9;
      }
      .int-card {
        max-width: 100%;
        margin: 10px;
      }

      img{
        width: 100px;
      }

      .float-int{
        float: left;
               
      }

      .mail{
        color: dodgerblue;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
      }

    

      

      
      



